.profile {
    gap: 12px;

    .info {
        padding: 9px 0px;

        .name {
            font-size: 14px;
            color: #ffffff;
        }

        .time {
            font-size: 10px;
            color: #CCCCCC;
        }
    }
}
