<div class="profile flex-row">
    <div class="flex-row">
        <img src="images/users_photo 1.png">
        <div class="info flex-column">
            <p class="name">Camila Walker</p>
            <p class="time">15:00</p>
        </div>
    </div>
    <svg width="20" height="21"
        <use href="vectors/gear.svg#gear 1"></use>
    </svg>

    <svg width="20" height="23"
        <use href="vectors/bell.svg#bell 1"></use>
    </svg>
</div>


@code {

}
