<div class="tab flex-column-w">
    <svg width="33" height="24">
        <use href="vectors/calendar.svg#patients"></use>
    </svg>
    <p class="fs14">@ChildContent</p>
</div>


@code { 
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
