.tab {
  padding: 16px;
  box-sizing: border-box;
  gap: 12px;
  cursor: pointer;
  border-radius: 16px;
  background: rgba(128, 138, 135, 0);
  border-bottom: 4px solid rgba(212, 241, 133, 0);
  transition: 0.2s;
  transition: 0.5s border-bottom;
}
.tab:hover {
  background: rgba(128, 138, 135, 0.2509803922);
  border-bottom: 4px solid #D4F185;
  transition: 0.2s border-bottom;
}
.tab:hover p {
  color: #D4F185;
}
.tab p {
  color: #B5C6C0;
  transition: 0.2s;
}
