<div class="tabs flex-column-h">
    <div class="logo flex-column gap12">
        <img src="images/logo.png">
    </div>
    <Tab>Patients</Tab>
    <Tab>Calendar</Tab>
    <Tab>222 </Tab>
    <div class="flex-column-m"></div>
    <Tab>258 </Tab>
    <Tab>852 </Tab>
</div>
