<div class="tabs flex-column-h">
    <div class="logo flex-column gap12">
        <img src="images/logo.png">
    </div>
    <Tab>Patients</Tab>
    <Tab>Calendar</Tab>
    <Tab>Messages</Tab>
    <div class="flex-column-m"></div>
    <Tab>Settings</Tab>
    <Tab>Log out</Tab>
</div>
