<div class="week flex-row-w gap12">
    <p class="fs14">Mon</p>
    <p class="fs14">Tue</p>
    <p class="fs14">Wed</p>
    <p class="fs14">Thu</p>
    <p class="fs14">Fri</p>
    <p class="fs14">Sat</p>
    <p class="fs14">Sun</p>
</div>


@code {

}
