@page "/calendar"
 
<div class="page flex-row-m gap32">
    <div class="tabs flex-column-h gap20">
        <Tab>
            <Active>
                <div class="flex-column">
                </div>
                <p>Patients</p>
            </Active>
            <Default>
                <div class="flex-column">

                </div>
                <p>Patients</p>
            </Default>
        </Tab>
        <Tab>
            <Active>
                <div class="flex-column">
                </div>
                <p>Patients</p>
            </Active>
            <Default>
                <div class="flex-column">
                </div>
                <p>Patients</p>
            </Default>
        </Tab>
        <Tab>
            <Active>
                <div class="flex-column">
                </div>
                <p>Patients</p>
            </Active>
            <Default>
                <div class="flex-column">
                </div>
                <p>Patients</p>
            </Default>
        </Tab>
        <div></div>
        <Tab>
            <Active>
                <div class="flex-column">
                </div>
                <p>Patients</p>
            </Active>
            <Default>
                <div class="flex-column">
                </div>
                <p>Patients</p>
            </Default>
        </Tab>
        <Tab>
            <Active>
                <div class="flex-column">
                </div>
                <p>Patients</p>
            </Active>
            <Default>
                <div class="flex-column">
                </div>
                <p>Patients</p>
            </Default>
        </Tab>

    </div>

    <div class="flex-column-m gap16">
        <div class="header flex-row-w gap12">
            <div class="flex-row ">
            </div>

        </div>
        <div class="flex-row-m gap12">
            <div class="flex-column-m">
                <div class="flex-row-w">

                </div>
                <div class="week flex-row-w gap12">
                    <p class="fs14">Mon</p>
                    <p class="fs14">Tue</p>
                    <p class="fs14">Wed</p>
                    <p class="fs14">Thu</p>
                    <p class="fs14">Fri</p>
                    <p class="fs14">Sat</p>
                    <p class="fs14">Sun</p>
                </div>
                <div class="flex-column-m gap8">

                </div>
            </div>
            <div></div>
        </div>
    </div>
</div>



@code {

}
