@page "/"
 
<div class="calendar flex-row-m gap32">
    <Tabs></Tabs>
       
    <div class="flex-column-m gap16">
        <div class="header flex-row-w gap12">
            <Profile> </Profile>
        </div>
        
        <div class="flex-row-m gap12">
            <div class="flex-column-m gap12">
                <div class="flex-row-w gap12">
                    <p class="fsb24 cr1">May 2025</p>
                    <Button>+ New Event</Button>
                    <Filter> </Filter>
                    <Filter> </Filter>
                    <Filter> </Filter>
                </div>
                <Week></Week>
                <div class="flex-row-m gap8">
                    @for (int i = 0; i < 31; i++)
                    {
                        <Plate> </Plate>
                    }
                    </div>
            </div>
         
            <div class="flex-column-h"> </div>
       
        </div>
   
    </div>

</div>



@code {

}
