@page "/1"

<div class="calendar flex-row">
    <div class=" flex-column-h">
        <div class="flex-column">
            <div></div>
            <p>Patient</p>
        </div>

        <div class="flex-column">
            <div></div>
            <p>Patient</p>
        </div>

    </div>

    <div class="flex-column-m">
        <div class="flex-row-w">
            <div class="flex-row">
            </div>

        </div>
        <div class="flex-row-m">
        </div>
    </div>
</div>

